/*GLOBAL*/
p
{
	color: #777777
}

h1
{
	font-size: 2em;
}

body
{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: grey;
	font-size: 14px;
}

h1, h2, h3, h4
{
	font-family: 'Georgia', Times, Times New Roman, serif;
}

/*HEADER*/
nav
{
	float: right;
	position: relative;
	width: 200px;
	height: 100%;
}

.nav-main
{
	position: absolute;
	right: 0px;
	top: 50%;
	transform: translateY(-50%);
}

/*links contained within the nav section*/
.nav-main > a
{
	border-right: 2px #333 solid;
	padding-right: 6px;
}

.logo
{
	float: left;
	height: 100%;
}

.logo-text
{
	padding: 20px;
	color: #ffffff;
}

.primary-color
{
	background-color: #4aaaa5;
}

.header
{
	background-color: #ffffff;
	width: 100%;
	height: 75px;
}

.header-bg
{
	background-color: #fff;
	border-bottom: 2px #333 solid;
}

/*MAIN*/
.container
{
	margin: 0 auto;
	width: 960px;
}

.main
{
	width: 650px;
	float: left;
	display: inline-block;
}

.content
{
	padding: 20px;
}

.main, .sidebar
{
	background-color: #ffffff;
	display: inline-block;
	padding: 0px;
	margin-top: 20px;
}

/*SIDEBAR*/
.sidebar
{
	width: 270px;
	float: right;
}

/*FOOTER*/
.footer
{
	position: absolute;
	bottom: 0px;
	height: 75px;
	width: 100%;
	background-color: #333;
	border-top: 6px #4aaaa5 solid;
}

.footer-text
{
	padding: 30px;
	text-align: center;
}

/*DEBUG*/
.debug
{
	border: 1px solid red;
}
/*=================================================================================================
   * Teal color (used for headings and backgrounds): `#4aaaa5`
   * Regular font color (used for paragraphs and all text besides the headings): `#777777`
   * Main header background color: `#ffffff`
   * Main header border color: `#cccccc`
   * Footer background color: `#666666`
   * Main content background color: `#ffffff`
   * Main content border color: `#dddddd`
   ================================================================================================*/